<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets>
    <target name="defaultlog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
        fileName="${basedir}/filelogs/${shortdate}.txt"
        layout="${time}|${level}|${event-properties:item=EventId_Id}|${callsite-linenumber}|${logger}|${threadid}|${message}${exception:format=tostring}" />
    <target name="error" xsi:type="File" keepFileOpen="false" encoding="utf-8"
       fileName="${basedir}/errorlogs/${shortdate}.txt"
       layout="${time}|${level}|${event-properties:item=EventId_Id}|${callsite-linenumber}|${logger}|${threadid}|${message}${exception:format=tostring}" />
  </targets>
  <rules>
    <!--Trace,Debug,Info,Error,Fatal-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="defaultlog" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>

<!--fileName="${basedir}/filelogs/${level}/${shortdate}.txt"     https://github.com/NLog/NLog/wiki/Tutorial  -->